<h1><%= t('.header', title: @test_passage.test.title) %> </h1>

<h4>Ваш результат:</h4> 
<% result = @test_passage.result %>
<% if @test_passage.passed? %>
  <p class='text-success'>Успешно - <%= result %></p>
<% else %>
  <p class='text-danger' >Не успешно - <%= result %></p>
<% end %> 

<%= link_to 'Все тесты', tests_path%>

