<h1>Тест <%= @test_passage.test.title %> был завершен</h1>

<h4>Ваш результат:</h4> 
<% result = @test_passage.result %>
<% if result >= 85 %>
  <p class='text-success'>Успешно - <%= result %></p>
<% else %>
  <p class='text-danger' >Не успешно - <%= result %></p>
<% end %> 

<%= link_to 'Все тесты', tests_path%>

