 <% if resource.errors.present? %>
    <div>
     <!-- pluralize(resource.errors.count, 'error')  -->
      <h3><%= t('.header', count: resource.errors.count) %></h3>
      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li> flash[:danger] = <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
