 <hr>
<br>
<div class="col-center text-center text-muted">
  <h5>Current year - <%= current_year %> </h5>
  <h5>Author: Kveladze_Yevgeniy </h5>
  <%=link_to 'Форма обратной связи', feedbacks_new_path %>
  <%= link_to  'GitHub', github_url("Zheka1988", "TestGuru") %>
  <p>Учебный проект в онлайн-школе <a href='http://thinknetica.com' target='_blank'>Thinknetika</a></p>
</div>
