<table width="100%">
  <tr>
    <td > <h1 class = "logo" > TESTGURU </h1> </td>
      <td align = "right" class = "user panel" with = "15%"> <%= link_to 'Login', login_path %> |
        <%= link_to 'Signup', signup_path %>
      </td>
  </tr>

</table>
