<h1>Создать новый вопрос <%= question_header(@question) %></h1>

<%= render 'form', resource: [@test, @questions] %>
<%= link_to 'Назад', admin_test_path(@test) %> |
<%= link_to 'Все тесты', admin_tests_path %> 
