.pointer {
  cursor: pointer
}

.hide {
  display: none;
}

.myProgress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  height: 20px;

  text-align: center;
  line-height: 20px;
  color: white;
}
